<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>JLT Mission to Mars</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
  <div class="container">

    <div class="jumbotron text-center">
      <h1>JLT Mission to Mars</h1>
      <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Data</a></p>
    </div>

    <div class="row" id="news">
      <div class="col-md-12">
        <h2 class="heading">Latest Mars News</h2>
        <strong>
          <p>{{mars.news.news_title}}</p>
        </strong>
        <p>{{mars.news.news_p}}</p>
      </div>
    </div>

    <div class="col-md-7" id="featuredimage">
      <div class="col-md-7">
        <h2 class="heading">Featured Mars Image</h2>
        <img style="width: 600px; height: 375px;" src={{mars.fi.featured_image_url}} alt="featured_image">
      </div>
    </div>

    <div class="col-md-4" id="news">
      <div class="col-md-12">
        <h2 class="heading">Current Weather on Mars</h2>
        <p>{{mars.mtw.mars_weather}}</p>
      </div>
    </div>

    <div class="col-md-4" id="table">
      <div class="col-md-12">
        <h2 class="heading">Mars Facts</h2>
        {{mars.table.mars_table | safe}}
      </div>
    </div>

    <!-- template needs to be upated with links -->
    <div class="container">
        <article class="row">
          <div class="col-md-12">
            <h2 class="text-center">Mars Hemispheres</h2>
          </div>
          <div class="col-md-6 comparison-container">
            <p><img style="width: 500px; height: 240px;" src={{mars.fi.featured_image_url}}></p>
            <h3>Insert Title here</h3>
          </div>
          <div class="col-md-6 comparison-container">
              <p><img style="width: 500px; height: 240px;" src={{mars.fi.featured_image_url}}></p>
              <h3>Insert Title here</h3>
          </div>
          <div class="col-md-6 comparison-container">
              <p><img style="width: 500px; height: 240px;" src={{mars.fi.featured_image_url}}></p>
              <h3>Insert Title here</h3>
          </div>
          <div class="col-md-6 comparison-container">
              <p><img style="width: 500px; height: 240px;" src={{mars.fi.featured_image_url}}></p>
              <h3>Insert Title here</h3>
          </div>
        </article>
      </div>
    </div>
  </div>

</body>

</html>