<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>JLT Mission to Mars</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
  <div class="container">

    <div class="jumbotron text-center">
      <h1>JLT Mission to Mars</h1>
      <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Data</a></p>
    </div>

    <!-- ex need to customize for HW -->
    <!-- update for changes -->
    <div class="row" id="news">
      <div class="col-md-12">
        <h3 class="heading">Latest Mars News</h3>
        <p>{{mars_news.news_title}}</p>
        <p>{{mars_news.news_p}}</p>
      </div>
    </div>

    <!-- <div class="row" id="featuredimage">
        <div class="col-md-7">
          <h3 class="heading">Featured Mars Image</h3>
          <img src="{{featuredimage.featured_image_url}}" alt="featured_image">
        </div>
      </div> -->

      <div class="row" id="weather">
        <div class="col-md-4">
            <h3 class="heading">Current Weather on Mars</h3>
            <!-- <p>{{weather.mars_weather}}</p> -->
        </div>
      </div>

      <div class="row" id="table">
        <div class="col-md-4">
            <h3 class="heading">Mars Facts</h3>
          <!-- <small>{{listings.hood}}</small> -->
        </div>
      </div>

      <div class="row" id="hemi">
        <div class="col-md-12">
            <h3 class="heading">Mars Hemispheres</h3>
        </div>
      </div>

  </div>
</body>

</html>

