<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>JLT Mission to Mars</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
  <div class="container">

    <div class="jumbotron text-center">
      <h1>JLT Mission to Mars</h1>
      <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Data</a></p>
    </div>

    <div class="row" id="news">
      <div class="col-md-12">
        <h3 class="heading">Latest Mars News</h3>
        <p>{{mars.news.news_title}}</p>
        <p>{{mars.news.news_p}}</p>
      </div>
    </div>

    <!-- need to fix the size of the picture -->
    <div class="col-md-4" id="featuredimage">
      <div class="col-md-4">
        <h3 class="heading">Featured Mars Image</h3>
        <img src={{mars.fi.featured_image_url}} alt="featured_image">
      </div>
    </div>

    <div class="row" id="news">
      <div class="col-md-4">
        <h3 class="heading">Current Weather on Mars</h3>
        <p>{{mars.mtw}}</p>
      </div>
    </div>

  </div>
</body>

</html>